<div style="width: 75%; margin: auto;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>TWITTER RESEARCH APP</span>
    </a>
    <span class="example-spacer"></span>
    <div>
      <a mat-button routerLink="/collection">Data Collection</a>
      <a mat-button routerLink="/analytics">Data Analytics</a>
      <a mat-button routerLink="/mongo">Mongo Operations</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/collection">Data Collection</a>
        <a mat-button routerLink="/analytics">Data Analytics</a>
        <a mat-button routerLink="/mongo">Mongo Operations</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="margin: auto; padding: 10px;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>